.button,
button {
	border-radius: 50px;
	background-color: var(--gray-0);
	color: var(--gray-999);
	text-decoration: none;
	display: flex;
	align-items: center;
	padding: 0.75em 1.5em;
	font-size: 16px;
	font-weight: 600;
	justify-content: center;
	width: fit-content;
	border: 1px solid black;
	cursor: pointer;
	transition: all 0.3s;
	gap: 0.5em;
	white-space: nowrap;

	&.blaze-prev {
		padding-left: 0.5em;
	}

	&.blaze-next {
		padding-right: 0.5em;
	}
}

.button.disabled {
	pointer-events: none;
	cursor: default;
	opacity: 0.6;
}

.button:hover {
	background-color: var(--gray-999);
	color: var(--gray-0);
}
