@use "../base/variables" as *;
@use "../base/functions" as *;
@use "../base/typography" as *;

.button,
button {
	border-radius: to-vw(500);
	background-color: var(--gray-0);
	display: flex;
	align-items: center;
	padding: 0.75em 1.5em;
	justify-content: center;
	width: fit-content;
	border: 1px solid black;
	cursor: pointer;
	transition: all 0.3s;
	gap: 0.5em;
	white-space: nowrap;

	@include text(base, $family: $font-family-button, $color: $white, $fs: 14, $lh: 1.5, $fw: 550);

	> * {
		color: currentColor;
		font-family: inherit;
		font-weight: inherit;
	}

	&.blaze-prev {
		padding-left: 0.5em;
	}

	&.blaze-next {
		padding-right: 0.5em;
	}
}

.button.disabled {
	pointer-events: none;
	cursor: default;
	opacity: 0.6;
}

.button:hover {
	background-color: var(--gray-999);
	color: var(--gray-0);
}

.hero-button {
	margin-top: to-vw(40);
	margin-bottom: to-vw(0);

	@media all and (max-width: 1024px) {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	@media all and (max-width: 640px) {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
}
