@use "../base/functions" as *;
@use "../base/variables" as *;
@use "../base/typography" as *;
@use "../base/mediaqueries" as *;
@use "./Button" as *;

.collection-preview-grid {
	padding: 2rem 1rem;
	margin: 0 auto;

	&__header {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__title {
		font-size: 2rem;
		margin-bottom: 2rem;
		text-align: center;
		@include title(2, $lh: 1.2, $mb: 0.5em);
	}

	&__text {
		font-size: 1rem;
		margin-bottom: 2rem;
		text-align: center;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 3rem;
	}

	&__item {
		appearance: none;
		border: none;
		padding: 0;
		margin: 0;
		background: none;
		cursor: pointer;
		display: block;
		overflow: hidden;
		border-radius: 4px;
		flex: 1 1 25%;
		width: fit-content;
	}

	&__img {
		width: auto;
		height: 100%;
		object-fit: contain;
		display: block;
		border: 2px solid rgba(0, 0, 0, 0.796);
		border-radius: 10px;
	}

	&__item:focus-visible {
		outline: 2px solid $teal;
		outline-offset: 2px;
	}

	&__empty {
		grid-column: 1 / -1;
		text-align: center;
		color: $gray-500;
		padding: 2rem;
	}
}
