.menu-footer {
	--icon-size: var(--text-2xl);
	--icon-padding: 0px;
	display: flex;
	justify-content: space-between;
	gap: 0.25rem;
	border-radius: 0 0 0.75rem 0.75rem;
}

.socials {
	display: flex;
	flex-wrap: wrap;
	gap: 1.2em;
	font-size: var(--icon-size);
	padding: 0.5em 0;
	margin-top: 1em;
}

.social {
	display: flex;
	padding: 0;
	text-decoration: none;
	color: var(--accent-dark);
	transition: color var(--theme-transition);
	width: fit-content;
	height: fit-content;
}

.social:hover,
.social:focus {
	color: var(--accent-text-over);
}
