@use "../base/variables" as *;
@use "../base/functions" as *;
@use "../base/container" as *;
@use "../base/mediaqueries" as *;
@use "../base/typography" as *;

.menu-footer {
	display: flex;
	justify-content: space-between;
	gap: 0.25rem;
	border-radius: 0 0 0.75rem 0.75rem;
}

.socials {
	display: flex;
	flex-wrap: wrap;
	gap: 0.6em;
	font-size: var(--icon-size);
	padding: 0.5em 0;
	margin-top: 1em;
}

.social {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.144);
	border-radius: 100vh;
	text-decoration: none;
	color: var(--gray-50);
	transition:
		color 0.2s ease-in-out 0s,
		background-color 0.2s ease-in-out 0s;
	width: to-vw(40);
	height: to-vw(40);

	svg {
		width: 100%;
		height: 100%;
	}

	@media all and (max-width: 1024px) {
		width: 30px;
		height: 30px;
	}

	@media all and (max-width: 640px) {
		width: 20px;
		height: 20px;
	}
}

.social:hover,
.social:focus {
	background-color: rgba(0, 0, 0, 0.823);
	color: var(--gray-800);
}
