.menu-footer {
	--icon-size: var(--text-2xl);
	--icon-padding: 0px;
	display: flex;
	justify-content: space-between;
	gap: 0.25rem;
	border-radius: 0 0 0.75rem 0.75rem;
}

.socials {
	display: flex;
	flex-wrap: wrap;
	gap: 0.6em;
	font-size: var(--icon-size);
	padding: 0.5em 0;
	margin-top: 1em;
}

.social {
	display: flex;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.144);
	border-radius: 100vh;
	text-decoration: none;
	color: var(--gray-50);
	transition:
		color 0.2s ease-in-out 0s,
		background-color 0.2s ease-in-out 0s;
	width: fit-content;
	height: fit-content;
}

.social:hover,
.social:focus {
	background-color: rgba(0, 0, 0, 0.823);
	color: var(--gray-800);
}
