

# build output
dist/
.output/

# decap cms admin bundle
public/admin/decap-cms.js
public/admin/decap-cms.css

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS-specific files
.DS_Store

# Local Netlify folder
.netlify
