---
import {Debug} from "astro/components";
---

<html lang='en' class='bg-slate-200'>
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>Curriculum Vitae</title>
	</head>
	<body class='max-w-screen-lg m-auto bg-white py-8'>
		<section class='py-2 px-10'>
			<div class='mb-2'>
				<h1 class='text-xl font-light underline italic mb-5'>Curriculum Vitae</h1>
				<h2 class='text-2xl font-bold'>Jonathan Barbeau</h2>
				<div class='text-sm'>
					<p>September 22nd 1989</p>
					<p>Based in Québec City, QC, Canada</p>
					<p>E-mail: <a class='italic text-blue-700 underline' href='mailto:barbeau.jonathan@gmail.com'>barbeau.jonathan@gmail.com</a></p>
					<div class='flex flex-col'>
						<p>Website: <a class='italic text-blue-700 underline' target='_blank' href='https://jbarbeau.art'>www.jbarbeau.art</a></p>
						<a class='italic text-blue-700 underline' target='_blank' href='https://www.instagram.com/jbarbeau.art/'>Instagram</a>
					</div>
				</div>
			</div>

			<div class='mb-2'>
				<p class='font-bold'>Education:</p>
				<div class='text-sm'>
					<p>2014-2017: Cégep de Ste-Foy - Technique d'Intégration Multimédia</p>
				</div>
			</div>
		</section>
		<section class='py-5 px-10'>
			<h3 class='text-xl font-semibold underline'>Exhibitions</h3>
			<div class='mb-2'>
				<p class='font-bold'>Solo Exhibitions:</p>
				<div class='text-sm'>
					<p>2023: <span class='italic'>EXHIBIT-A</span>, La Korrigane, Québec City, Canada</p>
				</div>
			</div>
			<div class='mb-2'>
				<p class='font-bold'>Group Exhibitions:</p>
				<div class='text-sm'>
					<p>2023: <span class='italic'>Station3 By The Sea</span>, Long Island, NY, USA</p>
					<p>2024: <span class='italic'>Digital Art Wine & Love</span>, Station3 & Sotheby's, Wall Street NYC, NY, USA</p>
					<p>2024: <span class='italic'>Interfaces</span>, Funded by the federal government commissioner for culture and the media, Hanover, Stuttgart, Germany</p>
				</div>
			</div>
			<div class='mb-2 hidden'>
				<p class='font-bold'>Upcoming Exhibitions:</p>
				<div class='text-sm'></div>
			</div>
		</section>
		<section class='py-5 px-10'>
			<h3 class='text-xl font-semibold underline'>Digital Exhibitions</h3>
			<div class='mb-2'>
				<p class='font-bold'>Solo Longform Show:</p>
				<div class='text-sm'>
					<p>2022: <span class='italic'>Terra Incognita</span>, fx(hash)</p>
					<p>2023: <span class='italic'>Never Stop Never Stopping</span>, fx(hash)</p>
					<p>2023: <span class='italic'>Jeu de Ligne</span>, 256art</p>
					<p>2023: <span class='italic'>Aweille!</span>, fx(hash)</p>
					<p>2024: <span class='italic'>EX-LIBRIS</span>, fx(hash)</p>
				</div>
			</div>
			<div class='mb-2'>
				<p class='font-bold'>Curated Shows:</p>
				<div class='text-sm'>
					<p>2024: <span class='italic'>STARMAP - Under Neith</span>, Forever Projects, Foundation, USA</p>
				</div>
			</div>
			<div class='mb-2'>
				<p class='font-bold'>Upcoming Curated Shows:</p>
				<div class='text-sm'>
					<p>2024: <span class='italic'>Geodes and Geologies</span>, Dawn Contemporary, Alba Art, NYC, USA</p>
				</div>
			</div>
		</section>

		<section class='py-5 px-10'>
			<div class='mb-2'>
				<h3 class='text-xl font-semibold underline mb-2'>List of Works</h3>
				<div class='text-[10px] grid grid-cols-2 gap-x-4'>
					<p>
						<span class='font-bold'>2024: </span><a target='_blank' href='https://foundation.app/collection/strmp' class='italic text-blue-700 underline'>STARMAP</a>, Forever Projects (Foundation), 64
						Editions, Longform
					</p>
					<p>
						<span class='font-bold'>2024: </span><a target='_blank' href='https://www.fxhash.xyz/generative/slug/ex-libris' class='italic text-blue-700 underline'>EX-LIBRIS</a>, fx(hash) , 256
						Editions, Longform
					</p>

					<p>
						<span class='font-bold'>2023: </span><a target='_blank' href='https://www.fxhash.xyz/generative/slug/aweille!' class='italic text-blue-700 underline'>Aweille!</a>, fx(hash) , 128 Editions,
						Longform
					</p>
					<p>
						<span class='font-bold'>2023: </span><a target='_blank' href='https://256art.com/project/jeu-de-ligne-2' class='italic text-blue-700 underline'>Jeu de Ligne</a>, 256Art , 300 Editions,
						Longform
					</p>
					<p>
						<span class='font-bold'>2023: </span><a target='_blank' href='https://highlight.xyz/mint/64f7c27b373cff27b5e9309c/tokens/1' class='italic text-blue-700 underline'
							>Courage et Valeur sur Dorchester</a
						>, EXHIBIT-A (La Korrigane), 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2023: </span><a target='_blank' href='https://highlight.xyz/mint/64f7c27b373cff27b5e9309c/tokens/2' class='italic text-blue-700 underline'
							>Peur et Dégoût à Limoilou</a
						>, EXHIBIT-A (La Korrigane), 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2023: </span><a target='_blank' href='https://highlight.xyz/mint/64f7c27b373cff27b5e9309c/tokens/3' class='italic text-blue-700 underline'>Sandbanks</a>, EXHIBIT-A
						(La Korrigane), 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2023: </span><a target='_blank' href='https://highlight.xyz/mint/64f7c27b373cff27b5e9309c/tokens/4' class='italic text-blue-700 underline'>Sunset Coast</a>,
						EXHIBIT-A (La Korrigane), 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2023: </span><a target='_blank' href='https://highlight.xyz/mint/64f7c27b373cff27b5e9309c/tokens/5' class='italic text-blue-700 underline'>La Simulation</a>,
						EXHIBIT-A (La Korrigane), 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2023: </span><a target='_blank' href='https://highlight.xyz/mint/64f7c27b373cff27b5e9309c/tokens/6' class='italic text-blue-700 underline'>Le Superviseur</a>,
						EXHIBIT-A (La Korrigane), 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2023: </span><a target='_blank' href='https://highlight.xyz/mint/64f7c27b373cff27b5e9309c/tokens/7' class='italic text-blue-700 underline'>Cliff Hanger</a>,
						EXHIBIT-A (La Korrigane), 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2023: </span><a target='_blank' href='https://highlight.xyz/mint/64f7c27b373cff27b5e9309c/tokens/8' class='italic text-blue-700 underline'>Acer Rubrum</a>,
						EXHIBIT-A (La Korrigane), 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2023: </span><a target='_blank' href='https://highlight.xyz/mint/64f7c27b373cff27b5e9309c/tokens/9' class='italic text-blue-700 underline'>Bas Firmament</a>,
						EXHIBIT-A (La Korrigane), 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2023: </span><a target='_blank' href='https://highlight.xyz/mint/64f7c27b373cff27b5e9309c/tokens/10' class='italic text-blue-700 underline'>Haute Montagne</a>,
						EXHIBIT-A (La Korrigane), 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2023: </span><a target='_blank' href='https://objkt.com/tokens/KT1TdZxMExP2GvGKcbQBJk7jPybAoAQKNuwm/1' class='italic text-blue-700 underline'>Fūrinkazan</a>, OBJKT,
						1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2023: </span><a target='_blank' href='https://objkt.com/tokens/versum_items/32696' class='italic text-blue-700 underline'>Nebula</a>, OBJKT, 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2023: </span><a target='_blank' href='https://objkt.com/tokens/versum_items/32682' class='italic text-blue-700 underline'>Dandelion</a>, OBJKT, 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2023: </span><a target='_blank' href='https://www.fxhash.xyz/generative/slug/never-stop-never-stopping' class='italic text-blue-700 underline'
							>Never Stop Never Stopping</a
						>, fx(hash) , 14 Editions, Longform
					</p>
					<p>
						<span class='font-bold'>2023: </span><a target='_blank' href='https://objkt.com/tokens/versum_items/32631' class='italic text-blue-700 underline'>The Only Way To Stop Time</a>, OBJKT, 1 of
						1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2023: </span><a target='_blank' href='https://objkt.com/tokens/versum_items/32513' class='italic text-blue-700 underline'>Lichen</a>, OBJKT, 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2023: </span><a target='_blank' href='https://objkt.com/tokens/versum_items/32444' class='italic text-blue-700 underline'>Chromatic Flow</a>, OBJKT, 1 of 1, Self
						Curated
					</p>

					<p>
						<span class='font-bold'>2023: </span><a target='_blank' href='https://foundation.app/@Jbarbeau/jbtbt/1' class='italic text-blue-700 underline'>Clair de Lune</a>, Foundation, 1 of 1, Self
						Curated
					</p>
					<p>
						<span class='font-bold'>2023: </span><a target='_blank' href='https://foundation.app/@Jbarbeau/jbtbt/1' class='italic text-blue-700 underline'>Chill Wave</a>, Foundation, 1 of 1, Self
						Curated
					</p>

					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://objkt.com/tokens/versum_items/31338' class='italic text-blue-700 underline'>The Octopi</a>, OBJKT, 1 of 1, Self
						Curated
					</p>
					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://objkt.com/tokens/versum_items/31321' class='italic text-blue-700 underline'>The Mage</a>, OBJKT, 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://objkt.com/tokens/versum_items/31249' class='italic text-blue-700 underline'>Hadean</a>, OBJKT, 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://objkt.com/tokens/versum_items/31022' class='italic text-blue-700 underline'>Chardon des champs</a>, OBJKT, 1 of 11,
						Self Curated
					</p>
					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://objkt.com/tokens/versum_items/30652' class='italic text-blue-700 underline'>Champs Fleury</a>, OBJKT, 1 of 11, Self
						Curated
					</p>
					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://objkt.com/tokens/versum_items/30648' class='italic text-blue-700 underline'>Mousse Quantique</a>, OBJKT, 1 of 11, Self
						Curated
					</p>
					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://objkt.com/tokens/versum_items/30198' class='italic text-blue-700 underline'>Dérives Littorales</a>, OBJKT, 1 of 11,
						Self Curated
					</p>
					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://objkt.com/tokens/versum_items/30180' class='italic text-blue-700 underline'>Vacarme</a>, OBJKT, 1 of 11, Self Curated
					</p>
					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://objkt.com/tokens/versum_items/29984' class='italic text-blue-700 underline'>Rétine Cramée</a>, OBJKT, 1 of 20, Self
						Curated
					</p>
					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://objkt.com/tokens/versum_items/29983' class='italic text-blue-700 underline'>Rétine Brulée</a>, OBJKT, 1 of 20, Self
						Curated
					</p>
					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://objkt.com/tokens/versum_items/29588' class='italic text-blue-700 underline'>Playful Deconstruction III</a>, OBJKT, 1
						of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://objkt.com/tokens/versum_items/29429' class='italic text-blue-700 underline'>Playful Deconstruction II</a>, OBJKT, 1 of
						1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://objkt.com/tokens/versum_items/29406' class='italic text-blue-700 underline'>Playful Deconstruction I</a>, OBJKT, 1 of
						1, Self Curated
					</p>

					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://foundation.app/@Jbarbeau/metromtl/6' class='italic text-blue-700 underline'>Metropolis #1 - Place des Arts</a>,
						Foundation, 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://foundation.app/@Jbarbeau/metromtl/5' class='italic text-blue-700 underline'>Metropolis #1 - Bonaventure</a>,
						Foundation, 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://foundation.app/@Jbarbeau/metromtl/4' class='italic text-blue-700 underline'>Metropolis #1 - Berri-UQAM</a>,
						Foundation, 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://foundation.app/@Jbarbeau/metromtl/3' class='italic text-blue-700 underline'>Metropolis #1 - Pie-IX</a>, Foundation, 1
						of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://foundation.app/@Jbarbeau/metromtl/2' class='italic text-blue-700 underline'>Metropolis #1 - Champs de Mars</a>,
						Foundation, 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://foundation.app/@Jbarbeau/metromtl/1' class='italic text-blue-700 underline'>Metropolis #1 - Square Victoria</a>,
						Foundation, 1 of 1, Self Curated
					</p>

					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://foundation.app/@Jbarbeau/hautmont/4' class='italic text-blue-700 underline'>Haute Montagne - Spill Your Guts</a>,
						Foundation, 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://foundation.app/@Jbarbeau/hautmont/3' class='italic text-blue-700 underline'>Haute Montagne - Montée de Lait</a>,
						Foundation, 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://foundation.app/@Jbarbeau/hautmont/2' class='italic text-blue-700 underline'>Haute Montagne - Fear & Love</a>,
						Foundation, 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://foundation.app/@Jbarbeau/hautmont/1' class='italic text-blue-700 underline'>Haute Montagne - Stay The Course</a>,
						Foundation, 1 of 1, Self Curated
					</p>

					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://www.fxhash.xyz/generative/slug/terra-incognita-2' class='italic text-blue-700 underline'>Terra Incognita</a>, fx(hash)
						, 56 Editions, Longform
					</p>
					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://foundation.app/@Jbarbeau/randbor/6' class='italic text-blue-700 underline'>Les Randomnées Boréales - Apica</a>,
						Foundation, 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://foundation.app/@Jbarbeau/randbor/5' class='italic text-blue-700 underline'>Les Randomnées Boréales - Mégantic</a>,
						Foundation, 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://foundation.app/@Jbarbeau/randbor/4' class='italic text-blue-700 underline'>Les Randomnées Boréales - Bic</a>,
						Foundation, 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://foundation.app/@Jbarbeau/randbor/3' class='italic text-blue-700 underline'>Les Randomnées Boréales - Appalaches</a>,
						Foundation, 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://foundation.app/@Jbarbeau/randbor/2' class='italic text-blue-700 underline'>Les Randomnées Boréales - Memphrémagog</a>,
						Foundation, 1 of 1, Self Curated
					</p>

					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://objkt.com/tokens/versum_items/27452' class='italic text-blue-700 underline'>Stagnum Salinarum</a>, OBJKT, 1 of 1, Self
						Curated
					</p>
					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://objkt.com/tokens/versum_items/26265' class='italic text-blue-700 underline'>Null City</a>, OBJKT, 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://objkt.com/tokens/versum_items/26199' class='italic text-blue-700 underline'>Acouphene</a>, OBJKT, 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://objkt.com/tokens/versum_items/26115' class='italic text-blue-700 underline'>Lim City</a>, OBJKT, 1 of 5, Self Curated
					</p>
					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://objkt.com/tokens/versum_items/25408' class='italic text-blue-700 underline'>Out of bounds</a>, OBJKT, 1 of 5, Self
						Curated
					</p>
					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://objkt.com/tokens/versum_items/20226' class='italic text-blue-700 underline'>Position Absolute</a>, OBJKT, 1 of 5, Self
						Curated
					</p>
					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://objkt.com/tokens/versum_items/20225' class='italic text-blue-700 underline'>Static Content Deploy</a>, OBJKT, 1 of 5,
						Self Curated
					</p>
					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://objkt.com/tokens/versum_items/15769' class='italic text-blue-700 underline'>Divergence</a>, OBJKT, 1 of 5, Self
						Curated
					</p>
					<p>
						<span class='font-bold'>2022: </span><a target='_blank' href='https://objkt.com/tokens/versum_items/15567' class='italic text-blue-700 underline'>Collide</a>, OBJKT, 1 of 5, Self Curated
					</p>
					<p>
						<span class='font-bold'>2021: </span><a target='_blank' href='https://objkt.com/tokens/versum_items/8587' class='italic text-blue-700 underline'>Crypto Glyph</a>, OBJKT, 1 of 3, Self
						Curated
					</p>

					<p>
						<span class='font-bold'>2021: </span><a target='_blank' href='https://objkt.com/tokens/KT1GpBHjtbwszXwWuPJwUgcX9JoQcVrYqfrV/5' class='italic text-blue-700 underline'>Purple Haze</a>,
						OBJKT, 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2021: </span><a target='_blank' href='https://objkt.com/tokens/KT1GpBHjtbwszXwWuPJwUgcX9JoQcVrYqfrV/4' class='italic text-blue-700 underline'>Fever Dream</a>,
						OBJKT, 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2021: </span><a target='_blank' href='https://objkt.com/tokens/KT1GpBHjtbwszXwWuPJwUgcX9JoQcVrYqfrV/3' class='italic text-blue-700 underline'>Milton</a>, OBJKT, 1
						of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2021: </span><a target='_blank' href='https://objkt.com/tokens/KT1GpBHjtbwszXwWuPJwUgcX9JoQcVrYqfrV/2' class='italic text-blue-700 underline'>Shilly Shally</a>,
						OBJKT, 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2021: </span><a target='_blank' href='https://objkt.com/tokens/KT1GpBHjtbwszXwWuPJwUgcX9JoQcVrYqfrV/1' class='italic text-blue-700 underline'>Crushed Velvet</a>,
						OBJKT, 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2021: </span><a target='_blank' href='https://objkt.com/tokens/KT1GpBHjtbwszXwWuPJwUgcX9JoQcVrYqfrV/0' class='italic text-blue-700 underline'>November Blues</a>,
						OBJKT, 1 of 1, Self Curated
					</p>

					<p>
						<span class='font-bold'>2021: </span><a target='_blank' href='https://foundation.app/@Jbarbeau/foundation/79176' class='italic text-blue-700 underline'>Oceans #3 - Dayspring</a>,
						Foundation, 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2021: </span><a target='_blank' href='https://foundation.app/@Jbarbeau/foundation/79093' class='italic text-blue-700 underline'>Oceans #2 - Golden Hour</a>,
						Foundation, 1 of 1, Self Curated
					</p>
					<p>
						<span class='font-bold'>2021: </span><a target='_blank' href='https://foundation.app/@Jbarbeau/foundation/78279' class='italic text-blue-700 underline'>Oceans #1 - Eventide</a>,
						Foundation, 1 of 1, Self Curated
					</p>

					<p>
						<span class='font-bold'>2021: </span><a target='_blank' href='https://objkt.com/tokens/hicetnunc/382779' class='italic text-blue-700 underline'>Corals #3 | Abyssus Lampadis</a>, Hic et
						Nunc, 1 of 10, Self Curated
					</p>
					<p>
						<span class='font-bold'>2021: </span><a target='_blank' href='https://objkt.com/tokens/hicetnunc/352801' class='italic text-blue-700 underline'>Corals #2 | Leptogorgia virgulata</a>, Hic
						et Nunc, 1 of 10, Self Curated
					</p>
					<p>
						<span class='font-bold'>2021: </span><a target='_blank' href='https://objkt.com/tokens/hicetnunc/340470' class='italic text-blue-700 underline'>Corals #1 | Cladiella</a>, Hic et Nunc, 1 of
						10, Self Curated
					</p>
					<p>
						<span class='font-bold'>2021: </span><a target='_blank' href='https://objkt.com/tokens/hicetnunc/270799' class='italic text-blue-700 underline'>Les Quartiers | Sainte-Foy (3/3)</a>, Hic et
						Nunc, 1 of 5, Self Curated
					</p>
					<p>
						<span class='font-bold'>2021: </span><a target='_blank' href='https://objkt.com/tokens/hicetnunc/232192' class='italic text-blue-700 underline'>Les Quartiers | Saint-Roch (2/3)</a>, Hic et
						Nunc, 1 of 5, Self Curated
					</p>
					<p>
						<span class='font-bold'>2021: </span><a target='_blank' href='https://objkt.com/tokens/hicetnunc/226926' class='italic text-blue-700 underline'>Les Quartiers | Saint-Sauveur (1/3)</a>, Hic
						et Nunc, 1 of 5, Self Curated
					</p>
					<p>
						<span class='font-bold'>2021: </span><a target='_blank' href='https://objkt.com/tokens/hicetnunc/215169' class='italic text-blue-700 underline'>Le Seuil</a>, Hic et Nunc, 1 of 1, Self
						Curated
					</p>
					<p>
						<span class='font-bold'>2021: </span><a target='_blank' href='https://objkt.com/tokens/hicetnunc/213253' class='italic text-blue-700 underline'>Extera Animus</a>, Hic et Nunc, 1 of 1, Self
						Curated
					</p>
					<p>
						<span class='font-bold'>2021: </span><a target='_blank' href='https://objkt.com/tokens/hicetnunc/46327' class='italic text-blue-700 underline'>Brume de Mer</a>, Hic et Nunc, 1 of 498, Self
						Curated
					</p>
					<p>
						<span class='font-bold'>2021: </span><a target='_blank' href='https://objkt.com/tokens/hicetnunc/35916' class='italic text-blue-700 underline'>Oil Slick</a>, Hic et Nunc, 1 of 30, Self
						Curated
					</p>
					<p>
						<span class='font-bold'>2021: </span><a target='_blank' href='https://objkt.com/tokens/hicetnunc/33508' class='italic text-blue-700 underline'>Iridescence 3</a>, Hic et Nunc, 1 of 20, Self
						Curated
					</p>
					<p>
						<span class='font-bold'>2021: </span><a target='_blank' href='https://objkt.com/tokens/hicetnunc/25083' class='italic text-blue-700 underline'>Iridescence 2</a>, Hic et Nunc, 1 of 20, Self
						Curated
					</p>
					<p>
						<span class='font-bold'>2021: </span><a target='_blank' href='https://objkt.com/tokens/hicetnunc/19157' class='italic text-blue-700 underline'>Iridescence 1</a>, Hic et Nunc, 1 of 20, Self
						Curated
					</p>
					<p>
						<span class='font-bold'>2021: </span><a target='_blank' href='https://objkt.com/tokens/hicetnunc/16793' class='italic text-blue-700 underline'>Tournesol</a>, Hic et Nunc, 1 of 10, Self
						Curated
					</p>
					<p>
						<span class='font-bold'>2021: </span><a target='_blank' href='https://objkt.com/tokens/hicetnunc/11361' class='italic text-blue-700 underline'>Araneae</a>, Hic et Nunc, 1 of 1, Self
						Curated
					</p>
					<p>
						<span class='font-bold'>2021: </span><a target='_blank' href='https://objkt.com/tokens/hicetnunc/11345' class='italic text-blue-700 underline'>Beings</a>, Hic et Nunc, 1 of 1, Self Curated
					</p>
				</div>
			</div>
		</section>
	</body>
</html>
