---
import {Debug} from "astro/components";
---

<html lang='en' class='bg-slate-200'>
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>Curriculum Vitae</title>
	</head>
	<body class='max-w-screen-lg m-auto bg-white py-8'>
		<section class='py-2 px-10'>
			<div class='mb-2'>
				<h1 class='text-xl font-light underline italic mb-5'>Curriculum Vitae</h1>
				<h2 class='text-2xl font-bold'>Jonathan Barbeau</h2>
				<div class='text-xs'>
					<p>September 22nd 1989</p>
					<p>Based in Québec City, QC, Canada</p>
					<p>Languages: French, English</p>
					<p>Phone: <a class='italic text-blue-700 underline' href='tel:+4388746769'>1 (438) 874 6769</a></p>
					<p>E-mail: <a class='italic text-blue-700 underline' href='mailto:barbeau.jonathan@gmail.com'>barbeau.jonathan@gmail.com</a></p>

					<p>Web Development Portfolio: <a class='italic text-blue-700 underline' target='_blank' href='https://www.awwwards.com/jbarbeau/submissions'>Awwwards</a></p>
					<p>Art Resume: <a class='italic text-blue-700 underline' target='_blank' href='https://jbarbeau.art/artist-cv'>www.jbarbeau.art/artist-cv</a></p>
					<p>Website: <a class='italic text-blue-700 underline' target='_blank' href='https://jbarbeau.art'>www.jbarbeau.art</a></p>
					<p>Social: <a class='italic text-blue-700 underline' target='_blank' href='https://www.instagram.com/jbarbeau.art/'>Instagram</a></p>
				</div>
			</div>
		</section>
		<section class='py-0 px-10'>
			<h3 class='text-xl font-semibold underline'>Skills</h3>
			<div class='grid grid-cols-3'>
				<div class='my-2'>
					<p class='font-bold'>Languages</p>
					<div class='text-sm mt-2'>
						<ul>
							<li class='text-xs'>- HTML5 / CSS3</li>
							<li class='text-xs'>- Javascript</li>
							<li class='text-xs'>- PHP</li>
							<li class='text-xs'>- Node</li>
						</ul>
					</div>
				</div>
				<div class='my-2'>
					<p class='font-bold'>Framework</p>
					<div class='text-sm mt-2'>
						<ul>
							<li class='text-xs'>- Wordpress</li>
							<li class='text-xs'>- Tailwind</li>
							<li class='text-xs'>- React</li>
							<li class='text-xs'>- Astro</li>
						</ul>
					</div>
				</div>
				<div class='my-2'>
					<p class='font-bold'>Tools & Libraries</p>
					<div class='text-sm mt-2'>
						<ul>
							<li class='text-xs'>- Git / Vite / NPM</li>
							<li class='text-xs'>- Snipcart</li>
							<li class='text-xs'>- GSAP / Motion One</li>
							<li class='text-xs'>- P5.js / Three.js</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section class='py-2 px-10'>
			<h3 class='text-xl font-semibold underline'>Work Experience</h3>
			<div class='my-2'>
				<p class='font-bold'>Full-time Generative Artist</p>
				<div class='text-xs'>
					<p><span class='italic text-gray-500'>Quebec City (2022-present)</span></p>
				</div>
				<div class='text-sm mt-2'>
					<ul>
						<li>- Building generative artworks using tools like Processing3, HTML5 Canvas, Javascript, P5.js, Three.js.</li>
						<li>- Building long form generative projects on digital platforms like Foundation, Highlight, 256art and fx(hash).</li>
						<li>- Mostly web3 based projects</li>

						<div class='grid grid-cols-2 mt-2 mb-5'>
							<div>
								<li class='font-bold underline'>Curated Exhibitions</li>
								<ul class='pl-2'>
									<li class='text-xs italic font-medium'>- Under Neith with Forever Projects</li>
									<li class='text-xs italic font-medium'>- Digital Art Wine & Love, Station3 & Sotheby's, Wall Street NYC</li>
									<li class='text-xs italic font-medium'>- Station3 By The Sea, Long Island, NY, USA</li>
								</ul>
							</div>

							<div>
								<li class='font-bold underline'>Art Commissions for clients:</li>
								<ul class='pl-2'>
									<li class='text-xs italic font-medium'>- Sartoro Genève (Mazarine, Pipemind)</li>
									<li class='text-xs italic font-medium'>- Collection for Genify, Jeu de Formes</li>
									<li class='text-xs italic font-medium'>- Interfaces, Funded by the German government commissioner for culture</li>
								</ul>
							</div>
						</div>
					</ul>
				</div>
			</div>

			<hr class='my-2' />
			<div class='my-2'>
				<p class='font-bold'>Freelance Web Developer</p>
				<div class='text-xs'>
					<p><span class='italic text-gray-500'>Quebec City (2022-present)</span></p>
				</div>
				<div class='text-sm mt-2'>
					<ul>
						<li>- Designing and building websites for clients with Wordpress or Astro</li>
						<li>- Designing and building 100% custom themes for wordpress (No WYSIWYG)</li>
						<li>- Building e-commerce solutions for clients with Snipcart or Shopify</li>
						<li>- Web deployment using flywheel or netlify</li>
						<li>- Creative development (Tailwind,WebGl, CSS,Motion one, GSAP, Threejs)</li>
						<div class="mt-2 mb-5'">
							<li class='font-bold underline'>Clients:</li>
							<ul class='pl-2'>
								<li class='text-xs italic font-medium'>- Station3.nyc</li>
								<li class='text-xs italic font-medium'>- Mill3 studio</li>
								<li class='text-xs italic font-medium'>- Substratum</li>
								<li class='text-xs italic font-medium'>- Ether Ethos</li>
							</ul>
						</div>
					</ul>
				</div>
			</div>
			<hr class='my-2' />
			<div class='my-2 page-break'>
				<p class='font-bold'>Instynct - Creative developer</p>
				<div class='text-xs'>
					<p><span class='italic text-gray-500'>Quebec City (2020-2022)</span></p>
				</div>
				<div class='text-sm mt-2'>
					<ul>
						<li>- Building websites for clients using Wordpress</li>
						<li>- Building 100% custom wordpress themes for our clients(No WYSIWYG)</li>
						<li>- Built e-commerce solutions with Snipcart</li>
						<li>- Web deployment using flywheel</li>
						<li>- Creative development (WebGl, CSS,Motion one, GSAP, Threejs)</li>
					</ul>
				</div>
			</div>
			<hr class='my-2' />
			<div class='my-2'>
				<p class='font-bold'>O2Web - Front-end developer</p>
				<div class='text-xs'>
					<p><span class='italic text-gray-500'>Quebec City (2017-2020)</span></p>
				</div>
				<div class='text-sm mt-2'>
					<ul>
						<li>- Building websites for clients using Wordpress, CakePHP or Magento</li>
						<li>- Building 100% custom wordpress themes for our clients(No WYSIWYG)</li>
						<li>- Built e-commerce solutions with Magento & WooCommerce</li>
						<li>- Web deployment using Capistrano and Jenkins</li>
					</ul>
				</div>
			</div>
			<hr class='my-2' />
			<div class='my-2'>
				<p class='font-bold'>MamboMambo - Front-end developer</p>
				<div class='text-xs'>
					<p><span class='italic text-gray-500'>Quebec City (2015-2017)</span></p>
				</div>
				<div class='text-sm mt-2'>
					<ul>
						<li>- Building websites for clients using Wordpress</li>
						<li>- Building 100% custom wordpress themes for our clients(No WYSIWYG)</li>
						<li>- Used Frameworks like Bootstrap and Foundation</li>
					</ul>
				</div>
			</div>
		</section>
		<section class='py-2 px-10'>
			<div class='mb-2'>
				<h3 class='text-xl font-semibold underline'>Education</h3>
				<p class='font-bold'>Technique d'intégration multimédia</p>
				<div class='text-xs'>
					<p><span class='italic text-gray-500'>Cégep de Ste-Foy, Quebec City (2014-2017)</span></p>
				</div>
				<div class='text-sm mt-2'>
					<ul>
						<li>- Web development</li>
						<li>- Graphic & Web Design</li>
						<li>- Video Editing, Animation, 3D modeling</li>
					</ul>
				</div>
			</div>
		</section>
	</body>
</html>

<style>
	.page-break {
		page-break-before: always;
	}
</style>
