---
import {getCollection} from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import ExhibitionPreview from '../components/ExhibitionPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const collectionName = 'exhibition';
const projects = await getCollection('exhibition');
---

<BaseLayout title='JBarbeau.art x Korrigane ' description='Exposition des oeuvres de Jonathan Barbeau à la korrigane.'>
	<div class='stack gap-20'>
		<main class='wrapper stack gap-8'>
			<Hero
				title='Vernissage Korrigane'
				tagline='Voici mes oeuvres présentement exposé à la Korrigane cet été.'
				align='start'
			/>
			<Grid variant='offset'>
				{
					projects.map((project) => (
						<li>
							<ExhibitionPreview type={collectionName} project={project} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
