---
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import Layout from "../layouts/Layout.astro";

// Socials import — provides social media links and icons
import Socials from "../components/Socials.astro";

//! This import the recent art works in the project folder. The files are Markdown.
import {getSortedProjects} from "../functions/contentCollections";
import RecentWork from "../components/RecentWork.astro";

// Button import — provides a button component
import Button from "../components/Button.astro";

// put the projects in a global variable so we can use it in the script tag
const projects = await getSortedProjects();
---

<Layout>
	<section class='hero'>
		<div class='hero-container'>
			<h1 class='hero-title'>Jonathan Barbeau</h1>
			<h4 class='hero-subtitle'>Generative Artist based in Québec City</h4>
			<div class='hero-socials'>
				<Socials />
			</div>
			<Button class='hero-button my-6' label='View my Artist Curriculum' href='/artist-cv' target='_blank' icon='external' />
		</div>
	</section>
	<section class='work'>
		<div class='work-container'>
			<h2 class='work-title'>Recent Work</h2>

			<ul class='recent-work-list'>
				{projects.map((work) => <RecentWork work={work} />)}
			</ul>
		</div>
	</section>
</Layout>

<style>
	.hero-title {
		margin-bottom: 0.1em;
	}

	.hero-subtitle {
		margin-bottom: 0.5rem;
	}

	.hero-socials {
		margin-top: 0.5rem;
	}

	.hero-button {
		cursor: pointer;
		font-size: 14px;
		white-space: nowrap;
	}

	.hero-button.disabled {
		pointer-events: none;
		cursor: default;
		opacity: 0.6;
	}
</style>
