---
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.astro';
import Features from '../components/Features.astro';
import Card from '../components/Card.astro';
---

<Layout>
	<Showcase showExtra={true} />
	<Features />
	<h1>Hello world!</h1>
</Layout>
