---
import {Debug} from "astro/components";
import {getCollection} from "astro:content";
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import Layout from "../layouts/Layout.astro";
import Socials from "../components/Socials.astro";

import {getSortedProjects} from "../functions/contentCollections";
import RecentWork from "../components/RecentWork.astro";

// put the projects in a global variable so we can use it in the script tag
const projects = await getSortedProjects();
---

<Layout>
	<section class='hero'>
		<div class='hero-container'>
			<h1 class='hero-title'>Jonathan Barbeau</h1>
			<h4 class='hero-subtitle'>Generative Artist based in Québec City</h4>
			<div class='socials'>
				<Socials />
			</div>
		</div>
	</section>
	<section class='work'>
		<div class='work-container'>
			<h2 class='work-title'>Recent Work</h2>

			<ul class='recent-work-list'>
				{projects.map((work) => <RecentWork work={work} />)}
			</ul>
		</div>
	</section>

	<style>
		.hero-title {
			margin-bottom: 0.1em;
		}

		.socials {
			margin-top: 0.5rem;
		}
	</style>
</Layout>
