---
import {Debug} from "astro/components";
import {getCollection} from "astro:content";
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import Layout from "../layouts/Layout.astro";
import Socials from "../components/Socials.astro";

import {getSortedProjects} from "../functions/contentCollections";

import BlazeSlider from "blaze-slider";
import "blaze-slider/dist/blaze.css";
import RecentWork from "../components/RecentWork.astro";

// put the projects in a global variable so we can use it in the script tag
const projects = await getSortedProjects();
---

<Layout>
	<section class='hero'>
		<div class='hero-container'>
			<h1 class='hero-title'>Jonathan Barbeau</h1>
			<h4 class='hero-subtitle'>Generative Artist based in Québec City</h4>
			<div class='socials'>
				<Socials />
			</div>
		</div>
	</section>
	<section class='work'>
		<div class='work-container'>
			<h2 class='work-title'>Recent Work</h2>

			<ul class='recent-work-list'>
				{projects.map((work) => <RecentWork work={work} />)}
			</ul>
		</div>
	</section>
	<div class='blaze-slider'>
		<div class='blaze-container'>
			<div class='blaze-track-container'>
				<div class='blaze-track'>
					<div>slide 1</div>
					<div>slide 2</div>
					<div>slide 3</div>
					<div>slide 4</div>
				</div>

				<!-- pagination container -->
				<div class='my-pagination-container'>
					<div class='blaze-pagination'></div>
				</div>
			</div>

			<!-- navigation buttons -->
			<div class='my-nav-container'>
				<button class='blaze-prev'>previous</button>
				<button class='blaze-next'>next</button>
			</div>
		</div>
	</div>
	<script>
		import blazeSlider from "blaze-slider";
		import BlazeSlider from "blaze-slider";
		import "blaze-slider/dist/blaze.css";

		const el = document.querySelector(".blaze-slider");
		new BlazeSlider(el);
	</script>
	<style>
		.hero-title {
			margin-bottom: 0.1em;
		}

		.socials {
			margin-top: 0.5rem;
		}
	</style>
</Layout>
