---
import {Debug} from 'astro/components';
import {getCollection} from 'astro:content';
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';
import Socials from '../components/Socials.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<!-- <Debug {exhibitions} /> -->
<BaseLayout>
	<section class='hero'>
		<div class='hero-container'>
			<h1 class='hero-title'>Generative Artist</h1>

			<h5 class='hero-subtitle'>Based in Québec City</h5>
		</div>
	</section>
	<section class='exhibitions'>
		<div class='exhibitions-container'>
			<h2 class='exhibitions-title'>New website coming soon!</h2>
			<p class='exhibitions-subtitle'>In the meantime here's where you can find me</p>
			<div class='socials'>
				<Socials />
			</div>
		</div>
	</section>
</BaseLayout>

<style>
	.socials {
		margin-top: 1rem;
	}
</style>
