---
// Redirect to the admin interface
---

<html>
	<head>
		<meta http-equiv='refresh' content='0;url=/admin/index.html' />
		<title>Redirecting to Admin</title>
		<script>
			//window.location.href = "/admin/index.html";
		</script>
	</head>
	<body>
		<p>Redirecting to <a href='/admin/index.html'>admin interface</a>...</p>
	</body>
</html>
