---
import {getCollection} from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import WorkPreview from '../components/WorkPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';
const collectionName = 'work';
const projects = await getCollection('work');
---

<!--
	<BaseLayout title='JBarbeau.art x Korrigane ' description='Exposition des oeuvres de Jonathan Barbeau à la korrigane.'>
	<div class='stack gap-20'>
		<main class='wrapper stack gap-8'>
			<Hero title='Vernissage Korrigane' tagline='Voici mes oeuvres' align='start' />
			<Grid variant='offset'>
				{
					projects.map((project) => (
						<li>
							<WorkPreview type='work' project={project} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout> -->
