---
import Icon from "./Icon.astro";
const currentYear = new Date().getFullYear();
---

<footer>
	<div class='group'>
		<p>Designed & Developed in Québec City</p>
		<p>&copy; {currentYear} Jonathan Barbeau</p>
	</div>
	<p class='socials'>
		<a href='https://twitter.com/JBarbeau_Art'> Twitter</a>
		<a href='https://www.instagram.com/jbarbeau.art/'> Instagram</a>
		<a href='https://twitter.com/JBarbeau_Art'> Linktree</a>
	</p>
</footer>
<style lang='scss'>
	@import "../styles/components/Footer.scss";
</style>
