---
import Icon from "./Icon.astro";
import { t, type Locale } from "../i18n";

interface Props {
	locale?: Locale;
}

const { locale = "en" } = Astro.props;
const currentYear = new Date().getFullYear();
---

<footer>
	<div class='group'>
		<p>{t(locale, "footer.designed")}</p>
		<p>{t(locale, "footer.copyright", { year: String(currentYear) })}</p>
	</div>
	<p class='socials'>
		<a href='https://twitter.com/JBarbeau_Art'> Twitter</a>
		<a href='https://www.instagram.com/jbarbeau.art/'> Instagram</a>
		<a href='https://twitter.com/JBarbeau_Art'> Linktree</a>
	</p>
</footer>
<style lang='scss'>
	@use "../styles/components/Footer.scss";
</style>
