---
import Icon, {Props as IconProps} from "./Icon.astro";
import Socials from "./Socials.astro";
/** Main menu items */
const textLinks: {label: string; href: string}[] = [
	{label: "Home", href: "/"},
	{label: "About", href: "/about/"},
];

/** Icon links to social media — edit these with links to your profiles! */
const iconLinks: {label: string; href: string; icon: IconProps["icon"]}[] = [
	{label: "Email", href: "mailto:barbeau.jonathan@gmail.com", icon: "email"},
	{label: "Twitter", href: "https://twitter.com/JBarbeau_Art", icon: "twitter-logo"},
	{label: "Instagram", href: "https://www.instagram.com/jbarbeau.art/", icon: "instagram"},
	{label: "Facebook", href: "https://www.facebook.com/barbeaucodeart", icon: "facebook"},
	{label: "Twitch", href: "https://twitch.tv/jbarbeau_art", icon: "twitch-logo"},
	{label: "Tiktok", href: "https://www.tiktok.com/@jbarbeau.art", icon: "tiktok"},
	{label: "GitHub", href: "https://github.com/jobarbo", icon: "github-logo"},
	{label: "YouTube", href: "https://www.youtube.com/@JoBarbo", icon: "youtube-logo"},
];
---

<nav class='wrapper'>
	<div class='menu-header'>
		<a href='/' class='site-title'> JBarbeau.art</a>
		<menu-button>
			<template>
				<button class='menu-button' aria-expanded='false'>
					<span class='sr-only'>Menu</span>
					<Icon icon='list' />
				</button>
			</template>
		</menu-button>
	</div>
</nav>

<style>
	nav {
		z-index: 9;
		position: relative;
		font-family: var(--font-brand);
		font-weight: 500;
		margin: 0 auto;
		width: 100%;
		max-width: 1680px;
	}

	.menu-header {
		display: flex;
		justify-content: space-between;
		gap: 0.5rem;
		padding: 1.5rem;
	}

	.site-title {
		display: flex;
		gap: 0.5rem;
		align-items: center;
		line-height: 1.1;
		color: var(--gray-0);
		text-decoration: none;
	}

	@media (min-width: 50em) {
		nav {
			display: grid;
			grid-template-columns: 1fr auto 1fr;
			align-items: center;
		}

		.menu-header {
			padding: 0;
		}

		.site-title {
			font-size: var(--text-lg);
		}
	}
</style>
