---
import Icon from "./Icon.astro";
---

<nav class='wrapper'>
	<div class='menu-header'>
		<a href='/' class='site-title'> JBarbeau.art</a>
		<menu-button>
			<template>
				<button class='menu-button' aria-expanded='false'>
					<span class='sr-only'>Menu</span>
					<Icon icon='list' />
				</button>
			</template>
		</menu-button>
	</div>
</nav>

<style lang='scss'>
	@import "../styles/components/Nav.scss";
</style>
