---
import {Debug} from 'astro/components';

export interface Props {
	id?: number | undefined;
	galleryData?: {} | undefined;
	baseURL?: string | undefined;
}

const {id, galleryData, baseURL} = Astro.props as Props;
const gallery = galleryData;
const galleryKeys = Object.keys(gallery);
---

<div class='gallery'>
	<h3 class='gallery__title'>Gallerie</h3>
	<p class='gallery__text'>Voici différents rendu de cet algorithme</p>
	<div class='gallery__grid'>
		{
			galleryKeys.map((key) => {
				const image = gallery[key].attributes;
				return (
					<div class='gallery__item'>
						<img class='gallery__image' src={`${baseURL}${image.url}`} alt={`Image ${key}`} />
					</div>
				);
			})
		}
	</div>

	<style>
		.gallery__grid {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 1em;
		}
	</style>
</div>
