---
import {Debug} from 'astro/components';

interface Props {
	id?: number;
	gallery?: {
		attributes?: {
			alternativeText?: string;
			url?: string;
		};
	};
	baseURL?: string;
}

const {id, gallery, baseURL} = Astro.props as Props;
const galleryKeys = Object.keys(gallery);
---

<div class='gallery'>
	<h3 class='gallery__title'>Gallerie</h3>
	<p class='gallery__text'>Voici différents rendu de cet algorithme</p>
	<div class='gallery__grid'>
		{
			galleryKeys?.map((key) => {
				const image = gallery[key];
				return (
					<div class='gallery__item'>
						<img
							alt={image.attributes.alternativeText}
							class='gallery__image'
							src={`${baseURL}${image?.attributes.url}`}
						/>
					</div>
				);
			})
		}
	</div>
</div>

<style>
	.gallery__grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1em;
	}
</style>
