---
import {Debug} from 'astro/components';

export interface Props {
	id?: number | undefined;
	galleryData?: {} | undefined;
	baseURL?: string | undefined;
}

const {id, galleryData, baseURL} = Astro.props as Props;
const gallery = galleryData;
const galleryKeys = Object.keys(gallery);
---

<div class='gallery'>
	<div class='gallery__title-container'>
		<h2 class='gallery__title'>Gallerie</h2>
		<p class='gallery__text'>Voici différents rendu de cet algorithme</p>
	</div>
	<div class='gallery__grid'>
		{
			galleryKeys.map((key) => {
				const image = gallery[key].attributes;
				return (
					<div class='gallery__item'>
						<img class='gallery__image' src={`${baseURL}${image.url}`} alt={`Image ${key}`} />
					</div>
				);
			})
		}
	</div>

	<style>
		.gallery .title-container {
			margin-top: 4em;
		}
		.gallery__grid {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 1em;
			margin-top: 2em;
		}
		.gallery .gallery__title {
			font-size: var(--text-2xl);
			margin: 0;
		}
		@media (min-width: 1024px) {
		}
	</style>
</div>
