---
import Icon from "./Icon.astro";
import type {Props as IconProps} from "./Icon.astro";
/** Main menu itemse */

/** Icon links to social media — edit these with links to your profiles! */
const iconLinks: {label: string; href: string; icon: IconProps["icon"]}[] = [
	{label: "Email", href: "mailto:barbeau.jonathan@gmail.com", icon: "email"},
	{label: "Twitter", href: "https://twitter.com/JBarbeau_Art", icon: "twitter-logo"},
	{label: "Instagram", href: "https://www.instagram.com/jbarbeau.art/", icon: "instagram"},
	{label: "Facebook", href: "https://www.facebook.com/barbeaucodeart", icon: "facebook"},
	{label: "Twitch", href: "https://twitch.tv/jbarbeau_art", icon: "twitch-logo"},
	{label: "Tiktok", href: "https://www.tiktok.com/@jbarbeau.art", icon: "tiktok"},
	{label: "GitHub", href: "https://github.com/jobarbo", icon: "github-logo"},
	{label: "YouTube", href: "https://www.youtube.com/@JoBarbo", icon: "youtube-logo"},
	{label: "linktree", href: "https://linktr.ee/jobarbo", icon: "linktree-logo"},
];
---

<div class='menu-footer'>
	<div class='socials'>
		{
			iconLinks.map(({href, icon, label}) => (
				<a target='_blank' href={href} class='social'>
					<span class='sr-only'>{label}</span>
					<Icon icon={icon} />
				</a>
			))
		}
	</div>
</div>

<style>
	.menu-footer {
		--icon-size: var(--text-2xl);
		--icon-padding: 0px;
		display: flex;
		justify-content: space-between;
		gap: 0.25rem;
		background-color: var(--gray-999);
		border-radius: 0 0 0.75rem 0.75rem;
	}

	.socials {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5em;
		font-size: var(--icon-size);
		padding: 0.5em 0;
	}

	.social {
		display: flex;
		padding: 0;
		text-decoration: none;
		color: var(--accent-dark);
		transition: color var(--theme-transition);
		width: 25px;
		height: 25px;

		@media all and (max-width: 1024px) {
			width: 18px;
			height: 18px;
		}

		svg {
			width: 25px;
			height: 25px;

			@media all and (max-width: 1024px) {
				width: 18px;
				height: 18px;
			}
		}
	}

	.social:hover,
	.social:focus {
		color: var(--accent-text-over);
	}
</style>
